<!DOCTYPE html>
<html>
<h2><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Tela Home</strong></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">&nbsp;</span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Nessa tela ir&aacute; mostrar os produtos com estoque baixo e um atalho para ir direto ao estoque.&nbsp;</span></span></span></p>

<p>&nbsp;</p>

<h2><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><strong>Tela Compra</strong></span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Nesta tela ir&aacute; mostrar lista de produtos em estoque, podendo adicionar a quantidade do produto selecionado na op&ccedil;&atilde;o &quot;entrada&quot;.</span></span></span></p>

<p>&nbsp;</p>

<h2><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff"><strong>Tela Venda</strong></span></span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">Nesta tela ir&aacute; mostrar lista de produtos em estoque, podendo retirar a quantidade do produto selecionado na op&ccedil;&atilde;o &quot;saida&quot;.&nbsp;</span></span></span></p>

<p>&nbsp;</p>

<h2><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff"><strong>Tela Estoque</strong></span></span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff">Nesta tela ir&aacute; mostrar a listagem de produtos com o id, nome, tipo com a milimetragem, a quantidade de estoque m&iacute;nimo e m&aacute;ximo e uma imagem, al&eacute;m disso ter&aacute; 3 bot&otilde;es dispon&iacute;veis, o bot&atilde;o na parte superior com o nome &ldquo;Criar novo Produtos no Estoque&rdquo;, pr&oacute;ximo ao nome &ldquo;Produtos no Estoque&rdquo; que ser&aacute; para adicionar um novo produto naquela p&aacute;gina, enquanto do lado de cada produto tem 2 bot&otilde;es com op&ccedil;&atilde;o&nbsp; &ldquo;editar&rdquo; que serve para modificar algum dado equivocado ou que ter&aacute; uma mudan&ccedil;a no estoque e o bot&atilde;o &ldquo;deletar&rdquo; para apagar esse produto.&nbsp;</span></span></span></span></p>

<p>&nbsp;</p>

<h2><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff"><strong>Tela Marca</strong></span></span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff">Nesta tela ir&aacute; mostrar a listagem das marcas com o id, nome, categoria e imagem, al&eacute;m disso ter&aacute; 3 bot&otilde;es dispon&iacute;veis, o bot&atilde;o na parte superior com o nome &ldquo;Criar nova Marca&rdquo;, pr&oacute;ximo ao nome &ldquo;Lista de Marcas&rdquo; ser&aacute; para adicionar uma nova marca de produto naquela p&aacute;gina, enquanto do lado de cada imagem tem 2 bot&otilde;es de op&ccedil;&atilde;o o &ldquo;editar&rdquo; que serve para modificar algum dado equivocado ou que ter&aacute; uma mudan&ccedil;a e o bot&atilde;o &ldquo;deletar&rdquo; para apagar essa marca.&nbsp;</span></span></span></span></p>

<p>&nbsp;</p>

<h2><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff"><strong>Tela Categorias</strong></span></span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff">Nesta tela ir&aacute; mostrar a listagem das categorias com o id, descri&ccedil;&atilde;o que seria a categoria ao qual ser&aacute; usado em cada item, al&eacute;m disso ter&aacute; 3 bot&otilde;es dispon&iacute;veis, o bot&atilde;o na parte superior com o nome &ldquo;Criar nova Categoria&rdquo;, pr&oacute;ximo ao nome &ldquo;Lista de Categorias&rdquo; ser&aacute; para adicionar uma nova categoria de um produto, enquanto do lado de cada descri&ccedil;&atilde;o tem 2 bot&otilde;es de op&ccedil;&atilde;o o &ldquo;editar&rdquo; que serve para modificar algum dado equivocado ou que ter&aacute; uma mudan&ccedil;a e o bot&atilde;o &ldquo;deletar&rdquo; para apagar essa marca.</span></span></span></span></p>

<p>
    <br />
    &nbsp;
</p>

<h2><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff"><strong>Tela Tipo</strong></span></span></span></span></h2>

<p>&nbsp;</p>

<p><span style="font-size:12pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff">Nesta tela ir&aacute; mostrar a listagem das marcas com o id e descri&ccedil;&atilde;o, al&eacute;m disso ter&aacute; 3 bot&otilde;es dispon&iacute;veis, o bot&atilde;o na parte superior com o nome &ldquo;Criar novo Tipo&rdquo;, pr&oacute;ximo ao nome &ldquo;Lista de Tipos&rdquo; ser&aacute; para adicionar um novo tipo correspondente a milimetragem de algum item, enquanto ao lado dessa descri&ccedil;&atilde;o tem 2 bot&otilde;es de op&ccedil;&atilde;o o &ldquo;editar&rdquo; que serve para modificar algum dado equivocado ou que ter&aacute; uma mudan&ccedil;a e o bot&atilde;o &ldquo;deletar&rdquo; para apagar essa marca.</span></span></span></span></p>

<p>&nbsp;</p>

</html>