@page
@model PrivacyModel
@{
    ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>

<h4>Tela Home </h4>
<p>Nessa tela irá mostrar os produtos com estoque baixo e um atalho para ir direto ao estoque.

</p>
<br/>


<h4>Tela Compra</h4>
<p>
    Nesta tela irá mostrar lista de produtos em estoque, podendo adicionar a quantidade do produto selecionado na opção "entrada".
</p>
<br />


<h4>Tela Venda</h4>
<p>Nesta tela irá mostrar lista de produtos em estoque, podendo retirar a quantidade do produto selecionado na opção "saida". 

</p>
<br />


<h4>Tela Estoque</h4>
<p>Nesta tela irá mostrar a listagem de produtos com o id, nome, tipo com a milimetragem, a quantidade de estoque mínimo e máximo e uma imagem,
    além disso terá 3 botões disponíveis, o botão na parte superior com o nome “Criar novo Produtos no Estoque”,
    próximo ao nome “Produtos no Estoque” que será para adicionar um novo produto naquela página, 
    enquanto do lado de cada produto tem 2 botões com opção  “editar” que serve para modificar algum dado equivocado ou que terá uma mudança no estoque e o botão “deletar” para apagar esse produto.
</p>
<br />


<h4>Tela Marca</h4>
<p>
    Nesta tela irá mostrar a listagem das marcas com o id, nome, categoria e imagem, além disso terá 3 botões disponíveis, 
    o botão na parte superior com o nome “Criar nova Marca”, próximo ao nome “Lista de Marcas” será para adicionar uma nova marca de produto naquela página,
    enquanto do lado de cada imagem tem 2 botões de opção o “editar” que serve para modificar algum dado equivocado ou que terá uma mudança e o botão “deletar” para apagar essa marca.

</p>
<br />


<h4>Tela Categorias</h4>
<p>
    Nesta tela irá mostrar a listagem das categorias com o id, descrição que seria a categoria ao qual será usado em cada item, além disso terá 3 botões disponíveis,
    o botão na parte superior com o nome “Criar nova Categoria”, próximo ao nome “Lista de Categorias” será para adicionar uma nova categoria de um produto,
    enquanto do lado de cada descrição tem 2 botões de opção o “editar” que serve para modificar algum dado equivocado ou que terá uma mudança e o botão “deletar” para apagar essa marca.


</p>
<br />


<h4>Tela Tipo</h4>
<p>
    Nesta tela irá mostrar a listagem das marcas com o id e descrição, além disso terá 3 botões disponíveis, o botão na parte superior com o nome “Criar novo Tipo”, 
    próximo ao nome “Lista de Tipos” será para adicionar um novo tipo correspondente a milimetragem de algum item, 
    enquanto ao lado dessa descrição tem 2 botões de opção o “editar” que serve para modificar algum dado equivocado ou que terá uma mudança e o botão “deletar” para apagar essa marca.

</p>
